/* EnisDash Main Styles */

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css?family=Anton');

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  
  /* EnisDash Main Styles */

section.player div {
    position: relative;
    background-color: black;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

body {
    background: #222;
    text-align: center;
}


canvas:active {
    cursor: pointer;
    cursor: -webkit-grabbing;
}

canvas {
    width: 1280px;
    height: 720px;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.gamefield {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border: 3px solid black;
    width: 1280px;
    height: 720px;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.current-score {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: rainbowGlow 1s infinite;

    color:black !important;
    font-size: 30px !important;
    font-style: bold !important;

    position:absolute;
    left:0; right:0;
    top:1%; bottom:0;
    margin:auto;
    visibility: hidden;
}

.high-score {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: rainbowGlow 1s infinite;

    color:black !important;
    font-size: 30px !important;
    font-style: bold !important;

    position:absolute;
    left:0; right:75%;
    top:3%; bottom:0;
    margin:auto;
}

.welcome-text {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: rainbowGlow 1s infinite;

    color:black !important;
    font-size: 30px !important;
    font-style: bold !important;

    position:absolute;
    left:0; right:0;
    top:3%; bottom:0;
    margin:auto;
}

.powerup {
    animation: rainbowGlow 1s infinite;

    font-size: 40px !important;
    font-style: bold !important;
    background: linear-gradient(to right,violet, indigo, blue, green, gold, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

    position:absolute;
    left:75%; right:0;
    top:2%; bottom:0;
    margin:auto;
}

#btn-start {
    display: inline-block;
    background-color: #FFED66;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;
    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
  }
  #btn-start:hover {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
  }
  #btn-start:focus {
    outline: 0;
  }

  .mute {
    animation: rainbowGlow 1s infinite;

    font-size: 40px !important;
    font-style: bold !important;
    background: linear-gradient(to right,violet, indigo, blue, green, gold, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

    position:absolute;
    left:75%; right:0;
    top:91%; bottom:0;
    margin:auto;
}

  #btn-mute {
    display: inline-block;
    background-color: #FFED66;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;
    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
  }
  #btn-mute:hover {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
  }
  #btn-mute:focus {
    outline: 0;
  }


@keyframes rainbowGlow {
	0% { text-shadow: 0 0 20px #f00; }
	16.67% { text-shadow: 0 0 20px #ff7f00; }
	33.33% { text-shadow: 0 0 20px #ff0; }
	50% { text-shadow: 0 0 20px #0f0; }
	66.66% { text-shadow: 0 0 20px #0ff; }
	83.33% { text-shadow: 0 0 20px #00f; }
	100% { text-shadow: 0 0 20px #f0f; }
}

